<h1 class='title'>Resume</h1>

<h2>Experience</h2>

<% @jobs.each do |job| %>
	<h3><%= job.job_title %></h3>
	<p><%= job.company_name %></p>
	<p><%= job.start_date %> - <%= job.end_date %></p>
	<p><%= job.job_description %></p>
<% end %>

<h2>Education</h2>

<% @degrees.each do |degree| %>
	<h3><%= degree.school_name %></h3>
	<p><%= degree.degree %></p>
	<p><%= degree.major %></p>
	<p><%= degree.start_date %> - <%= degree.end_date %></p>
<% end %>

<p><%= link_to "Back", root_path, id: 'back_link' %></p>